$black-color : black;


*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color :white;
}


@mixin card($theme : DarkGray){
    background: $theme;
    box-shadow: 0 0 1px rgba($theme, .25);
    color: #fff;
}

.addCard{
    @include card;
}
.doneCard{
    @include card($theme: green)
}
.failureCard{
    @include card($theme: red)
}

.toDoContainer {
    width: 800px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg,#FF00D5, #670000 );
    height: 1200px;
    margin: auto;
    border-radius: 20px;
    align-content: center;
    align-items: center;
    padding: 40px;
}

h3{
    margin-bottom: 20px;
}


input{
    width: 500px;
    height: 40px;
    max-width: 100%;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 2px;
    color : grey;
    letter-spacing: .025rem;
}

#addBtn{
border-radius: 50%;
padding: 15px;
width: 100px;
height: 100px;
font-size: 6rem;
display: flex;
font-weight: 700;
color: white;
background: linear-gradient(45deg, #009218, #0CFF44);
border: none;
}